@model IEnumerable<PJ_DGRL.Models.DGRLModels.Semester>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Kì học
            </th>
            <th>
                Năm học
            </th>
            <th>
                Ngày mở 
            </th>
            <th>
                Kết thúc tự đánh giá
            </th>
            <th>
                Kết thúc lớp đánh giá 
            </th>
            <th>
                kết thúc giảng viên đánh giá
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOpenStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEndStudent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEndClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEndLecturer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="QuestionHistory" asp-action="Index" asp-route-semesterId = "@item.Id">Câu hỏi kì này</a>
       
            </td>
        </tr>
}
    </tbody>
</table>

